<app-header></app-header>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="title-home">Veja seus orçamentos à seguir!</div>
    <div *ngFor="let budget of listOfBudgets;" class="card text-white mb-3 card-color" >
        <div class="card-header">Orçamento do dia: {{budget.date}}</div>
        <div class="card-body">
            <h5 class="card-title">Limite de crédito: R${{budget.creditLimit}}</h5>
            <h5 class="card-title text-right">Sua situaçao na época:</h5>
            <p class="card-text text-right">Estado civíl: {{budget.civilStatus}}</p>
            <p class="card-text text-right">Total de bens: R${{budget.amountOfProperty}}</p>
        </div>
    </div>
    <div class="title-home">Faça um novo orçamento!</div>
    <div class="form-group d-inline">
      <button (click)="openWindowNewBudget()" class="btn btn-login">
          <div class="float-left text-left">Pedir novo Orçamento</div>
          <div class="text-right">
              <em class="fa fa-arrow-right"></em>
          </div>
      </button>
    </div>
    <div *ngIf="showBudget()" class="card border-card-color mb-3">
        <div class="card-body text-dark">
            <input type="text" class="form-control" [(ngModel)]="userUpdate.amount" placeholder="Valor total de bens"/>
            <br />
            <div>
                <label style="margin-right: 1vw;">Estado Civíl:</label>
                <select class="modified-select" (change)="showListCivilStatus($event.target.value)">
                    <option *ngFor="let civilStatus of civilStatusList" value={{civilStatus}}>
                        {{civilStatus}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button (click)="newBudget()" class="btn btn-full">
                    <div class="float-left text-left">ENVIAR</div>
                    <div class="text-right">
                        <em class="fa fa-arrow-right"></em>
                    </div>
                </button>
              </div>
        </div>
      </div>
  </div>
  <div class="col-2"></div>
</div>