.card-color {
    background-color: #0891ad;
}

.title-home {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center
}

.card-text {
    margin-bottom: .2rem;
}

.btn-login {
    cursor: pointer;
    background-color: #0891ad;
    border-radius: .3em;
    color: #fff;
    font-size: .68rem;
    font-weight: bold;
    height: 43px;
    letter-spacing: .056rem;
    width: 290px;
    margin-bottom: 2vh;
}

.border-card-color {
    border-color: #0891ad;
}

.modified-select {
    width: 100%;
}

.btn-full {
    cursor: pointer;
    background-color: #0891ad;
    border-radius: .3em;
    color: #fff;
    font-size: .68rem;
    font-weight: bold;
    height: 43px;
    letter-spacing: .056rem;
    width: 100%;
    margin-top: 1vh;
}
