<nav class="navbar header" id="navBuildHeader">
    <div class="container-fluid">
        <div class="row no-gutters ">
            <div class="info title col-11 text-center" >
                <span>Credit Loan - Tela inicial</span>
            </div>
            <div ngbDropdown placement="bottom-right" id="menuDropDownHeader" class="col-1 info drop-down-menu">
                <div ngbDropdownToggle id="divDropDownHeader">
                    <em id="iconMenuHeader" class="fa fa-ellipsis-v icon-menu-header"></em>
                </div>
                <div ngbDropdownMenu id="itemDropDownHeader">
                    <div (click)="logout()" id="buttonLogoutHome" class="dropdown-item">
                        <div class="float-left text-left">Logout</div>
                        <div class="text-right">
                            <em class="fa fa-sign-out icon-dropdown-menu"></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>